<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackorangejuice.songguojizhang" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.other.SelfApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_block"
        android:label="@string/app_name_cn"
        android:supportsRtl="true"
        android:theme="@style/Theme.SongGuoJiZhang" >
        <activity
            android:name=".transaction.home.myinfo.moresetting.imports.ImportLogActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.myinfo.moresetting.ImportLog"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.account.choose.ShowChosenEventPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.event.choose.ShowChosenAccountPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.account.choose.ChooseEventPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.event.edit.UpdateEditEventPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.event.edit.AddEditEventPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.event.choose.ChooseShowAccountListPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.myinfo.MoreSettingActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.myinfo.moresetting.imports.ImportsActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.myinfo.AboutPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.myinfo.SwitchAccountBookPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.myinfo.UpdatePasswordPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.myinfo.UpdateUsernamePageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.account.edit.UpdateEditAccountPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.list.account.edit.AddEditAccountPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.guide.GuideAccountBookNamePageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.guide.GuideEnablePasswordCheckPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.guide.GuideRepasswordPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.guide.GuidePasswordPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.guide.GuideUsernamePageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.guide.GuideStartPageActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.home.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>